html {
  font-size: 20px;
}
body {
  background: #fafafa;
}

.bloque1 {
  z-index: 1;
  width: 600px;
  height: 600px;
  border-radius: 10%;
  margin-top: 50px;
  background: #ffd400;
}
.bloque2 {
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 10%;
  margin-top: 0px;
  margin-left: 0px;
  background: #ffd400;
}
#heladito {
  z-index: 3;
  position: absolute;
  width: 353px;
  height: 348px;
  border-radius: 52%;
  margin-top: 75px;
  margin-left: 122px;
  background: #15b2d3;
  border: 5px solid #1e1920;
}
#palito {
  z-index: 4;
  position: absolute;
  width: 60px;
  height: 158px;
  border-radius: 41%;
  margin-top: 390px;
  margin-left: 260px;
  background: #dd8f33;
  border: 4px solid #1e1920;
  transform: rotate(-176deg);
}
#sonrisa {
  z-index: 5;
  position: absolute;
  width: 90px;
  height: 72px;
  border-radius: 50%;
  margin-top: 285px;
  margin-left: 232px;
  background: #000000;
  border: 1px solid #1e1920;
}
#blancosonrisa {
  z-index: 6;
  position: absolute;
  width: 55px;
  height: 30px;
  border-radius: 50%;
  margin-top: 327px;
  margin-left: 245px;
  background: #fafafa;
  border: 1px solid #1e1920;
  transform: rotate(8deg);
}
#moflete1 {
  z-index: 7;
  position: absolute;
  width: 57px;
  height: 56px;
  border-radius: 50%;
  margin-top: 260px;
  margin-left: 218px;
  background: #15b2d3;
  border: 1px solid #1e1920;
  transform: rotate(-9deg);
}
#moflete2 {
  z-index: 7;
  position: absolute;
  width: 57px;
  height: 56px;
  border-radius: 50%;
  margin-top: 262px;
  margin-left: 279px;
  background: #15b2d3;
  border: 1px solid #1e1920;
  transform: rotate(-9deg);
}
#tapadormofle1 {
  z-index: 8;
  position: absolute;
  width: 57px;
  height: 56px;
  border-radius: 50%;
  margin-top: 262px;
  margin-left: 279px;
  background: #15b2d3;
  border: 0px solid #1e1920;
  transform: rotate(-9deg);
}
#tapadormofle2 {
  z-index: 9;
  position: absolute;
  width: 57px;
  height: 56px;
  border-radius: 50%;
  margin-top: 247px;
  margin-left: 288px;
  background: #15b2d3;
  border: 0x solid #1e1920;
  transform: rotate(-9deg);
}
#tapadormofle3 {
  z-index: 10;
  position: absolute;
  width: 57px;
  height: 56px;
  border-radius: 50%;
  margin-top: 253px;
  margin-left: 290px;
  background: #15b2d3;
  border: 0x solid #1e1920;
  transform: rotate(-9deg);
}
#tapadormofle4 {
  z-index: 10;
  position: absolute;
  width: 57px;
  height: 56px;
  border-radius: 50%;
  margin-top: 243px;
  margin-left: 210px;
  background: #15b2d3;
  border: 0x solid #1e1920;
  transform: rotate(-9deg);
}
#tapadormofle5 {
  z-index: 11;
  position: absolute;
  width: 57px;
  height: 56px;
  border-radius: 50%;
  margin-top: 233px;
  margin-left: 220px;
  background: #15b2d3;
  border: 0x solid #1e1920;
  transform: rotate(-9deg);
}
#nariz {
  z-index: 12;
  position: absolute;
  width: 79px;
  height: 63px;
  border-radius: 17%;
  border-top-left-radius: 54%;
  border-top-right-radius: 55%;
  border-bottom-left-radius: 65%;
  margin-top: 226px;
  margin-left: 240px;
  background: #000000;
  border: 3x solid #1e1920;
  transform: rotate(95deg);
}
#nariz2 {
  z-index: 13;
  position: absolute;
  width: 58px;
  height: 70px;
  border-radius: 18%;
  border-top-left-radius: 55%;
  border-top-right-radius: 65%;
  border-bottom-left-radius: 65%;
  margin-top: 228px;
  margin-left: 255px;
  background: #000000;
  border: 3x solid #1e1920;
  transform: rotate(2deg);
}
#tapadornariz1 {
  z-index: 14;
  position: absolute;
  width: 60px;
  height: 36px;
  border-radius: 60%;
  border-top-left-radius: 35px;
  border-top-right-radius: 28px;
  border-bottom: 34%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 200%;
  margin-top: 269px;
  margin-left: 251px;
  background: #000000;
  border: 0x solid #1e1920;
  transform: rotate(-339deg);
}

#ojoizq {
  z-index: 15;
  position: absolute;
  width: 56px;
  height: 90px;
  border-radius: 60%;
  border-top-left-radius: 25px;
  border-top-right-radius: 40px;
  border-bottom: 8%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  margin-top: 113px;
  margin-left: 205px;
  background: #fcf4f4;
  border: 3px solid #1e1920;
  transform: rotate(6deg);
}
#ojoizqlinea {
  z-index: 17;
  position: absolute;
  width: 30px;
  height: 73px;
  border-radius: 10%;
  border-top-left-radius: 7px;
  border-top-right-radius: 40px;
  border-bottom: 8%;
  border-bottom-left-radius: 18%;
  border-bottom-right-radius: 8%;
  margin-top: 129px;
  margin-left: 205px;
  background: #fafafa;
  border: 2px solid #1e1920;
  transform: rotate(6deg);
}

#ojoder {
  z-index: 16;
  position: absolute;
  width: 55px;
  height: 91px;
  border-radius: 60%;
  border-top-left-radius: 21px;
  border-top-right-radius: 40px;
  border-bottom: 8%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  margin-top: 126px;
  margin-left: 338px;
  background: #fcf4f4;
  border: 3px solid #1e1920;
  transform: rotate(6deg);
}
#ojoderlinea {
  z-index: 17;
  position: absolute;
  width: 32px;
  height: 75px;
  border-radius: 10%;
  border-top-left-radius: 7px;
  border-top-right-radius: 40px;
  border-bottom: 8%;
  border-bottom-left-radius: 18%;
  border-bottom-right-radius: 8%;
  margin-top: 142px;
  margin-left: 338px;
  background: #fafafa;
  border: 2px solid #1e1920;
  transform: rotate(6deg);
}

#orejaizq {
  z-index: 18;
  position: absolute;
  width: 52px;
  height: 56px;
  border-radius: 19%;
  border-top-left-radius: 39%;
  border-top-right-radius: 69%;
  border-bottom: 8%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  margin-top: 37px;
  margin-left: 215px;
  background: #15b2d3;
  border: 4px solid #1e1920;
  transform: rotate(-2deg);
}
#orejaizq2 {
  z-index: 19;
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 19%;
  border-top-left-radius: 39%;
  border-top-right-radius: 69%;
  border-bottom: 8%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  margin-top: 55px;
  margin-left: 219px;
  background: #15b2d3;
  border: 0px solid #1e1920;
  transform: rotate(-3deg);
}
#orejaizq3 {
  z-index: 20;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 69%;
  border-bottom: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: 78px;
  margin-left: 248px;
  background: #15b2d3;
  border: 0px solid #1e1920;
  transform: rotate(-3deg);
}

#orejader {
  z-index: 21;
  position: absolute;
  width: 55px;
  height: 70px;
  border-radius: 4px;
  border-top-left-radius: 90px;
  border-top-right-radius: 97px;
  border-bottom: 8%;
  border-bottom-left-radius: 38%;
  border-bottom-right-radius: 48%;
  margin-top: 67px;
  margin-left: 413px;
  background: #15b2d3;
  border: 4px solid #1e1920;
  transform: rotate(34deg);
}

#orejader1 {
  z-index: 22;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 120px;
  margin-left: 418px;
  background: #15b2d3;
  transform: rotate(34deg);
}
#orejader2 {
  z-index: 23;
  position: absolute;
  width: 32px;
  height: 27px;
  border-radius: 50%;
  margin-top: 112px;
  margin-left: 390px;
  background: #15b2d3;
  transform: rotate(37deg);
}

#orejitadentro1 {
  z-index: 24;
  position: absolute;
  width: 27px;
  height: 30px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  margin-top: 52px;
  margin-left: 225px;
  background: #fafafa;
  border: 2px solid #1e1920;
  transform: rotate(12deg);
}

#orejitadentro2 {
  z-index: 25;
  position: absolute;
  width: 31px;
  height: 39px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  margin-top: 92px;
  margin-left: 425px;
  background: #fafafa;
  border: 2px solid #1e1920;
  transform: rotate(51deg);
}

#pupilas1 {
  z-index: 26;
  position: absolute;
  width: 14px;
  height: 41px;
  border: 0px solid #000000;
  background: #000000;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  margin-top: 163px;
  margin-left: 205px;
  transform: rotate(6deg);
}
#pupilas2 {
  z-index: 27;
  position: absolute;
  width: 14px;
  height: 28px;
  border: 0px solid #000000;
  background: #000000;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  margin-top: 140px;
  margin-left: 207px;
  transform: rotate(6deg);
}

#pupilas3 {
  z-index: 28;
  position: absolute;
  width: 14px;
  height: 41px;
  border: 0px solid #000000;
  background: #000000;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  margin-top: 177px;
  margin-left: 338px;
  transform: rotate(6deg);
}
#pupilas4 {
  z-index: 29;
  position: absolute;
  width: 14px;
  height: 28px;
  border: 0px solid #000000;
  background: #000000;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  margin-top: 151px;
  margin-left: 341px;
  transform: rotate(6deg);
}

#lengu {
  z-index: 30;
  position: absolute;
  width: 62px;
  height: 22px;
  border: 0px solid #000000;
  background: #000000;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  margin-top: 322px;
  margin-left: 242px;
  transform: rotate(180deg);
}
#lengu2 {
  z-index: 31;
  position: absolute;
  width: 16px;
  height: 32px;
  border: 0px solid #eeeeee;
  background: #fafafa;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  margin-top: 326px;
  margin-left: 255px;
  transform: rotate(-79deg);
}
#lengu3 {
  z-index: 32;
  position: absolute;
  width: 18px;
  height: 32px;
  border: 0px solid #eeeeee;
  background: #fafafa;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  margin-top: 324px;
  margin-left: 277px;
  transform: rotate(-84deg);
}

#corrijelengu {
  z-index: 33;
  position: absolute;
  width: 15px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fafafa;
  margin-top: 345px;
  margin-left: 287px;
  transform: rotate(-20deg);
}
#corrijelengu2 {
  z-index: 33;
  position: absolute;
  width: 25px;
  height: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fafafa;
  margin-top: 341px;
  margin-left: 276px;
  transform: rotate(-5deg);
}
#corrijelengu3 {
  z-index: 33;
  position: absolute;
  width: 10px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fafafa;
  margin-top: 341px;
  margin-left: 245px;
  transform: rotate(18deg);
}

#corrijelengu4 {
  z-index: 34;
  position: absolute;
  width: 18px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fafafa;
  margin-top: 344px;
  margin-left: 245px;
  transform: rotate(18deg);
}

#corrijelengu5 {
  z-index: 35;
  position: absolute;
  width: 14px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fafafa;
  margin-top: 337px;
  margin-left: 245px;
  transform: rotate(150deg);
}

#corrijelengu6 {
  z-index: 36;
  position: absolute;
  width: 16px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fafafa;
  margin-top: 344px;
  margin-left: 250px;
  transform: rotate(195deg);
}

#brillonariz {
  z-index: 38;
  position: absolute;
  width: 14px;
  height: 23px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000000;
  margin-top: 250px;
  margin-left: 261px;
  transform: rotate(195deg);
}
#brillonariz2 {
  z-index: 37;
  position: absolute;
  width: 39px;
  height: 45px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 10px 5px 0 #fafafa;
  -webkit-box-shadow: 3px 3px 0 #fafafa;
  box-shadow: 13px 5px 0 #fafafa;
  margin-top: 232px;
  margin-left: 268px;
  transform: rotate(210deg);
}

#brillonariz3 {
  z-index: 39;
  position: absolute;
  width: 9px;
  height: 9px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fafafa;
  margin-top: 265px;
  margin-left: 255px;
  transform: rotate(195deg);
}

#palitotop {
  z-index: 40;
  position: absolute;
  width: 10px;
  height: 78px;
  border: 0px solid #000000;
  background: #1e1920;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 125px 100px 0;
  margin-top: 369px;
  margin-left: 291px;
  transform: rotate(270deg);
}
#palitotop2 {
  z-index: 41;
  position: absolute;
  width: 20px;
  height: 78px;
  border: 0px solid #000000;
  background: #15b2d3;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 125px 100px 0;
  margin-top: 354px;
  margin-left: 291px;
  transform: rotate(270deg);
}

#palitotop3 {
  z-index: 42;
  position: absolute;
  width: 10px;
  height: 58px;
  border: 0px solid #000000;
  background: #13a9c9;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 125px 100px 0;
  margin-top: 369px;
  margin-left: 291px;
  transform: rotate(270deg);
}

#lineaspalito1 {
  z-index: 42;
  position: absolute;
  width: 1px;
  height: 50px;
  border: 0px solid #000000;
  background: #b8711f;
  margin-top: 435px;
  margin-left: 271px;
  transform: rotate(6deg);
}

#lineaspalito2 {
  z-index: 43;
  position: absolute;
  width: 2px;
  height: 50px;
  border: 0px solid #000000;
  background: #c07825;
  margin-top: 455px;
  margin-left: 291px;
  transform: rotate(6deg);
}
#lineaspalito3 {
  z-index: 43;
  position: absolute;
  width: 2px;
  height: 15px;
  border: 0px solid #000000;
  background: #c07825;
  margin-top: 520px;
  margin-left: 281px;
  transform: rotate(5deg);
}

#lineaspalito4 {
  z-index: 44;
  position: absolute;
  width: 2px;
  height: 15px;
  border: 0px solid #000000;
  background: #c07825;
  margin-top: 498px;
  margin-left: 314px;
  transform: rotate(7deg);
}

#lineaspalito5 {
  z-index: 45;
  position: absolute;
  width: 2px;
  height: 15px;
  border: 0px solid #000000;
  background: #c07825;
  margin-top: 419px;
  margin-left: 317px;
  transform: rotate(-4deg);
}
#lineaspalito6 {
  z-index: 46;
  position: absolute;
  width: 2px;
  height: 15px;
  border: 0px solid #000000;
  background: #c07825;
  margin-top: 449px;
  margin-left: 320px;
  transform: rotate(2deg);
}
#lineaspalito7 {
  z-index: 46;
  position: absolute;
  width: 2px;
  height: 35px;
  border: 0px solid #000000;
  background: #c07825;
  margin-top: 422px;
  margin-left: 285px;
  transform: rotate(6deg);
}

/*Heladito hecho full CSS 
inspirado en temporada Summerhack 2021 ESCUELADEVROCK 🤘 */
